/* ====== Variables========================== */

:root {
	--primery-text-color: #212121;
	--secondary-text-color: #757575;
	--third-text-color: #ffffff;
	--accent-color: #2196f3;
	--primery-backgraund-color: #ffffff;
	--secondary-backgraund-color: #2f303a;
	--third-backgraund-color: #f5f4fa;
	--fours-text-color: #afb1b8;
	--icon-bg-color: rgba(255, 255, 255, 0.1);
	--overlay-color: rgba(33, 150, 243, 0.9);
	--second-overlay-color: rgba(47, 48, 58, 0.8);
	--transithion-duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =========== Reseting Geometry and Styles ========== */
h1,
h2,
h3,
h4,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
}

button {
	cursor: pointer;
	border: none;
}

.list {
	list-style: none;
}
.link {
	text-decoration: none;
}

/* ======== General Styles ============================== */

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--primery-text-color);
	background-color: var(--primery-backgraund-color);
}

.dark-box {
	background-color: var(--secondary-backgraund-color);
}

.grey-box {
	background-color: var(--third-backgraund-color);
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* =======HEADER=================== */

.logo-black {
	color: black;
}

.logo-white {
	color: var(--third-text-color);
}

.logo {
	/* outline: 1px solid red; */
	margin-right: 93px;
	font-family: "Raleway";
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);
}

.page-header {
	position: relative;
	padding-top: 24px;
	padding-bottom: 25px;
}
.page-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.page-nav {
	display: flex;
}

.menu {
	display: flex;
	align-items: center;
}

.menu-link {
	display: flex;
	align-items: center;
	margin-left: auto;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primery-text-color);
	transition: color var(--transithion-duration-function);
}

.menu-link:not(:last-child),
.menu-item:not(:last-child) {
	margin-right: 50px;
}

.contact {
	color: var(--secondary-text-color);
}

.menu-item .current,
.menu-link:hover,
.menu-link:focus {
	color: var(--accent-color);
}

.menu-link-icon {
	margin-right: 10px;
	fill: currentColor;
}

.border {
	border-top: 1px solid #ececec;
}

.menu-item .current::after {
	position: absolute;
	bottom: 0;
	display: block;
	cursor: auto;
	content: "";
	width: 48px;
	height: 4px;
	background-color: currentColor;
	border-radius: 2px;
}

/* ==========HERO================ */

.hero {
	margin-left: auto;
	margin-right: auto;
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../images/hero/hero.jpg");
	background-color: var(--secondary-backgraund-color);
	max-width: 1600px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-title {
	margin-left: auto;
	margin-right: auto;
	width: 696px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--third-text-color);
}

.hero-btn {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 32px;
	padding-left: 32px;
	margin-top: 30px;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	background: var(--accent-color);
	color: var(--third-text-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	transition: background-color var(--transithion-duration-function);
}

.hero-btn:active {
	background-color: #188ce8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

/* ========SPECIAL================ */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.special-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	/* margin-bottom: 94px; */
}

.special-item {
	flex-basis: calc((100% - 90px) / 4);
}
.special-title {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.special-text {
	line-height: 1.71;
	font-style: normal;
	color: var(--secondary-text-color);
}

.special-link {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	height: 120px;
	background: var(--third-backgraund-color);
	border-radius: 4px;
	margin-bottom: 30px;
}

.special-link-icon {
	display: flex;
	flex-wrap: wrap;
	width: 70px;
	height: 70px;
}
/* ==============LIST OFFER=========== */

.about {
	padding-top: 0px;
}

.offer-list {
	display: flex;
	gap: 30px;
	/* outline: 1px solid red; */
}

.offer-item {
	flex-basis: calc((100% - 60px) / 3);
}

.ofer-thumb {
	position: relative;
}

.ofer-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-top: 27px;
	padding-bottom: 27px;
	width: 100%;
	height: calc(70 / 294 * 100%);
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;
	color: var(--primery-backgraund-color);
	background-color: var(--second-overlay-color);
}
/* ==============TEAM================ */

.team {
	background-color: var(--third-backgraund-color);
}

.section-title {
	margin-bottom: 50px;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.team-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	/* outline: 1px solid red; */
}

.team-item {
	background-color: var(--primery-backgraund-color);
	flex-basis: calc((100% - 90px) / 4);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-man {
	padding-top: 30px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.team-spec {
	margin-top: 10px;
	margin-bottom: 16px;
	/* padding-bottom: 30px; */
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--secondary-text-color);
}

.team-social-list {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin: 0px;
	padding-bottom: 30px;
}

.team-social-link {
	/* outline: 1px solid red; */
	display: flex;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	fill: var(--fours-text-color);
	transition: fill var(--transithion-duration-function), background-color var(--transithion-duration-function);
}

.team-social-icon {
	width: 20px;
	height: 20px;
}

.team-social-link:hover,
.team-social-link:focus {
	fill: var(--primery-backgraund-color);
	background-color: var(--accent-color);
}

/* ========ПОСТОЯННЫЕ КЛИЕНТЫ=========== */

.clients-list {
	/* outline: 1px solid teal; */
	display: flex;
	gap: 30px;
	justify-content: center;
}

.clients-link {
	display: flex;
	width: 170px;
	height: 92px;
	justify-content: center;
	align-items: center;
	fill: var(--fours-text-color);
	border-radius: 4px;
	border: 1px solid var(--fours-text-color);
	transition: fill var(--transithion-duration-function), border var(--transithion-duration-function);
}

.clients-icon {
	width: 106px;
	height: 60px;
	/* outline: 1px solid teal; */
}

.clients-link:hover,
.clients-link:focus {
	fill: var(--accent-color);
	border: 1px solid var(--accent-color);
}

/* =============FOOTER================= */

.footer .logo {
	display: block;
	margin-right: 0px;
	margin-bottom: 20px;
}

.footer {
	padding-top: 60px;
	padding-bottom: 59px;
	background-color: var(--secondary-backgraund-color);
}

.footer-link:not(:last-child) {
	display: block;
	margin-bottom: 9px;
}

.adress-linkmap {
	font-style: normal;
	line-height: 1.71;
	color: var(--third-text-color);
}

.adress-link {
	font-style: normal;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
	transition: color var(--transithion-duration-function);
}

.adress-link:hover,
.adress-link:focus {
	color: var(--accent-color);
}

/* ---------------------------- */
.footer-address-social {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.social-title {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	font-style: normal;
	color: var(--third-text-color);
}

.social-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.social-link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	fill: var(--third-text-color);
	transition: background-color var(--transithion-duration-function);
}

.social-item {
	display: flex;
	flex-wrap: wrap;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: var(--icon-bg-color);
}

.social-item-logo {
	width: 20px;
	height: 20px;
}

.social-link:hover,
.social-link:focus {
	background: var(--accent-color);
}

/* =============FOOTER-SUBSCRIBE============ */

.footer-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #ffffff;
}

.form-subscribe-fields {
	display: flex;
	border: none;
	padding: 0;
}
.input-field {
	margin-right: 12px;
}

.form-input {
	width: 358px;
	height: 50px;
	padding: 16px 15px;
	font-size: 16px;
	line-height: 1.2;
	background-color: var(--background);
	background: transparent;
	color: var(--third-text-color);
	outline: none;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 62px;
	padding-left: 28px;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	background: var(--accent-color);
	color: var(--third-text-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	transition: background-color var(--transithion-duration-function);
}

.form-subscribe .form-input:focus {
	outline: none;
	border: 1px solid var(--accent-color);
}

.form-subscribe .form-input::placeholder {
	color: rgba(255, 255, 255, 0.6);
}

.btn-submit:active {
	background-color: #188ce8;
}

.form-subscribe .btn-submit {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 29px;
	gap: 10px;
}

.link-svg {
	fill: var(--third-text-color);
}
/* =============PORTFOLIO============= */

.portfolio-filtr {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 50px;
	outline: #757575;
}

.portfolio-filtr-item:not(:last-child) {
	margin-right: 8px;
}

.portfolio-filtr .current {
	color: var(--third-text-color);
	background: var(--accent-color);

	/* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0, 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 22px rgba(0, 0, 0, 0.12); */
	/* border-radius: 4px; */
}

.portfolio-btn {
	padding: 6px 22px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	background: var(--third-backgraund-color);
	border-radius: 4px;
	transition: background var(--transithion-duration-function), color var(--transithion-duration-function),
		box-shadow var(--transithion-duration-function);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
	background: var(--accent-color);
	color: var(--third-text-color);

	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.portfolio-link-items {
	width: calc((100% - 60px) / 3);
	border: 1px solid #ececec;
}

.portfolio-name {
	padding-top: 20px;
	padding-left: 24px;
	margin-bottom: 2px;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--primery-text-color);
}

.portfolio-namefiltr {
	padding-bottom: 20px;
	padding-left: 24px;
	font-size: 16px;
	line-height: 1.88;
	color: var(--secondary-text-color);
}

.portfolio-link {
	display: block;
	background-color: var(--primery-backgraund-color);
	transition: box-shadow var(--transithion-duration-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
	position: relative;
	overflow: hidden;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 63px;
	padding-bottom: 63px;
	padding-left: 24px;
	padding-right: 24px;
	width: 100%;
	height: 100%;
	overflow: auto;
	transform: translate(0, 100%);
	transition: transform var(--transithion-duration-function);
	background-color: var(--overlay-color);
	color: #ffffff;
	font-size: 18px;
	line-height: 1.56;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
	transform: translate(0, 0);
}

/* ============MODAL WINDOW========== */

.backdrop {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity var(--transithion-duration-function), visability var(--transithion-duration-function);
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 528px;
	/* height: 581px; */
	background-color: var(--primery-backgraund-color);
	padding: 40px;
}
.close-modal-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	transition: border-color var(--tra);
}

.close-modal-btn:hover,
.close-modal-btn:focus {
	border-color: var(--accent-color);
}

.close-modal-btn:hover .modal-close-btn-icon,
.close-modal-btn:focus .modal-close-btn-icon {
	fill: var(--accent-color);
}

/* ==========MODAL FORM========== */

.modal-title {
	margin-bottom: 12px;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	text-align: center;
}

.modal-form {
	display: flex;
	flex-direction: column;
}

.modal-form-filed {
	margin-bottom: 10px;
}

.modal-form-filed.user-policy-field {
	margin-bottom: 20px;
}

.modal-form-input-desc {
	display: block;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--secondary-text-color);
	margin-bottom: 4px;
}
.modal-form-input-wrapper {
	display: block;
	position: relative;
}

.modal-form-input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 42px;
	color: #000;
	transition: border-color var(--transithion-duration-function);
}

.user-name-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	transition: fill var(--transithion-duration-function);
}

.modal-form-input:focus {
	outline: none;
	border: 1px solid var(--accent-color);
}

.modal-form-input:focus + .user-name-icon {
	fill: var(--accent-color);
}

.modal-form-massage {
	display: block;
	resize: none;
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color var(--transithion-duration-function);
}

.modal-form-massage:focus {
	outline: none;
	border-color: var(--accent-color);
}

.modal-form-massage::placeholder {
	color: rgba(117, 117, 117, 0.5);
}

.modal-form-chek-desc {
	justify-content: center;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.71;
	color: var(--secondary-text-color);
}

.modal-form-chek-desc::before {
	content: "";
	display: block;
	width: 16px;
	height: 15px;
	margin-right: 8px;
	cursor: pointer;
	border: 2px solid var(--primery-text-color);
	border-radius: 2px;
}

.modal-form-chek:checked + .modal-form-chek-desc::before {
	border: none;
	border: 2px solid var(--accent-color);
	background-color: var(--accent-color);
	background-image: url(../images/checkicon.svg);
	background-size: cover;
}
.modal-form-chek:focus + .modal-form-chek-desc::before {
	border: none;
	border: 2px solid var(--accent-color);
	background-color: var(--accent-color);
	background-image: url(../images/checkicon.svg);
	background-size: cover;
}

.modal-form-chek-desc-link {
	color: var(--accent-color);
}

.modal-form-submit {
	align-self: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 52px;
	padding-left: 52px;
	/* margin-bottom: 40px; */
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	background: var(--accent-color);
	color: var(--third-text-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	transition: background-color var(--transithion-duration-function);
}

.modal-form-submit:active {
	background-color: #188ce8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
